@page "/Weather/City"
@model Api.Pages.CityModel

@{
    var weatherIcons = new Dictionary<string, string>(StringComparer.OrdinalIgnoreCase)
    {
        { "Partly cloudy", "https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0002_sunny_intervals.png" },
        { "Sunny", "https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0001_sunny.png" },
        { "Overcast", "https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png" },
        { "Clear", "https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0008_clear_sky_night.png" },
        { "Rain", "https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0034_cloudy_with_heavy_rain_night.png" }
    };

    string weatherDescription = Model.WeatherInfo?.WeatherDescriptions;
    string iconUrl = weatherIcons.ContainsKey(weatherDescription) ? weatherIcons[weatherDescription] : null;
}

<div class="text-center">
    <h3 class="display-4">Weather Details for @Model.WeatherInfo?.City</h3>
</div>

@if (Model.WeatherInfo != null)
{
    <div>
        <p><strong>Country:</strong> @Model.WeatherInfo.Country</p>
        <p><strong>Latitude:</strong> @Model.WeatherInfo.Lat</p>
        <p><strong>Longitude:</strong> @Model.WeatherInfo.Lon</p>
        <p><strong>Temperature:</strong> @Model.WeatherInfo.Temperature °C</p>
        <p><strong>Wind Speed:</strong> @Model.WeatherInfo.WindSpeed km/h</p>
        <p><strong>Pressure:</strong> @Model.WeatherInfo.Pressure hPa</p>
        <p><strong>Humidity:</strong> @Model.WeatherInfo.Humidity %</p>
        <p><strong>Feels Like:</strong> @Model.WeatherInfo.FeelsLike °C</p>
        <p><strong>UV Index:</strong> @Model.WeatherInfo.UvIndex </p>
        <p><strong>Visibility:</strong> @Model.WeatherInfo.Visibility km</p>
        <p>
            <strong>Icon:</strong>
            @if (!string.IsNullOrEmpty(iconUrl))
            {
                <img src="@iconUrl" alt="@weatherDescription Icon" />
            }
            else
            {
                <span>No icon available</span>
            }
        </p>
    </div>
}

<div class="mt-3">
    <a href="/Weather" class="btn btn-success">Go Back to Menu</a>
</div>
